.cell{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    box-shadow: 0 0 0 2px;
    font-size: 50px;
    cursor: pointer;
}

.cell-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 225px;
    margin: auto;
}

.game-container{
 font-family:cursive;  
 text-align: center;
}